*.swp
*.pyc
*.so
*.a
*.o
*.os
*~
*#
.emacs.*
.sconsign.dblite
*-gen.h
mypaint-config.h
options.cache
*.mo
.#*
*.pstats
*.pc
*.autosave
*.gir
*.typelib
*.dirstamp
po/POTFILES

test-driver
tests/test-details
tests/test-brush-load
tests/*.exe
tests/*.log
tests/*.trs
tests/gegl/*.log
tests/gegl/*.trs

config.h
config.h.in
Makefile
Makefile.in
.deps/
autom4te.cache/
.libs/
*.lo

libmypaint-*.la
gegl/libmypaint-gegl-*.la

po/*.gmo
po/Makefile*
po/stamp-it

ar-lib
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
compile
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

AUTHORS
ChangeLog
INSTALL
NEWS

m4macros/intltool.m4
m4macros/libtool.m4
m4macros/ltoptions.m4
m4macros/ltsugar.m4
m4macros/ltversion.m4
m4macros/lt~obsolete.m4
