language: c

compiler:
  - gcc

sudo: required

dist: trusty

addons:
  apt:
    packages:
      - libjson0-dev
      - intltool
      - libgirepository1.0-dev
      - libgegl-dev

script:
    - ./autogen.sh
    - ./configure
    - make
    - make clean
    - make distcheck
    - make maintainer-clean
    - ./autogen.sh
    - ./configure --with-introspection
    - make
    - make maintainer-clean
    - ./autogen.sh
    - ./configure --with-gegl
    - make
    - make maintainer-clean
